<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/bootstrap.min.css" type='text/css'>
    <link rel="stylesheet" href="css/materialize.min.css" type='text/css'>
    <link rel="stylesheet" href="css/index.css" type='text/css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,300' type='text/css'>
  </head>
  <body ng-app="liquid" ng-controller="hackLoader">

    <div class="container header">
      <div class="card white-text">
        <div class="card-content">
          <h1>Liquid <small>v1.4</small></h1>
        </div>
      </div>
    </div>

    <div ng-show="!loader.loaded.modules" class="container header">
      <div class="card white-text">
        <div class="card-content">
          <h4 ng-bind="loader.info"></h4>

          <div class="progress">
            <div ng-class="loader.loaded.game ? 'game-found' : 'game-finding'" class="indeterminate"></div>
          </div>

        </div>
      </div>
    </div>

    <div ng-show="loader.loaded.modules" class="container hack-body">
      <ul class="collapsible" data-collapsible="accordion">

        <!-- ESP -->
        <li ng-controller="hackESP">
          <!-- Header -->
          <div ng-class="ESP.enabled ? 'hack-enabled' : 'hack-disabled'" class="collapsible-header hack-header">
            ESP

            <!-- Hack Toggle -->
            <span class="hack-switch">
              <div class="switch">
                <label>
                  <input ng-model="ESP.enabled" type="checkbox">
                  <span class="lever"></span>
                </label>
              </div>
            </span>

          </div>

          <!-- Content -->
          <div class="collapsible-body">
            <br>
            <div class="row hack-options">

              <!-- ESP Target Buttons -->
              <a ng-click="setTarget($event, 'BOTH')" ng-class="setButtonClass('BOTH')" class="waves-effect waves-light btn">BOTH</a>
              <a ng-click="setTarget($event, 'ENEMIES')" ng-class="setButtonClass('ENEMIES')" class="waves-effect waves-light btn">ENEMIES</a>
              <a ng-click="setTarget($event, 'FRIENDLIES')" ng-class="setButtonClass('FRIENDLIES')" class="waves-effect waves-light btn">FRIENDLIES</a>

              <hr>

              <!-- Full Bloom Toggle -->
              <span>
                <div class="switch">
                  <label class="toggle-text">
                    <input ng-model="ESP.fullBloom" type="checkbox">
                    <span class="lever"></span>Full Bloom (fill with glow)
                  </label>
                </div>
              </span>

              <!-- Glow Items Toggle -->
              <span>
                <div class="switch">
                  <label class="toggle-text">
                    <input ng-model="ESP.glowItems" type="checkbox">
                    <span class="lever"></span>Glow Items (weapons, chickens, etc)
                  </label>
                </div>
              </span>

              <!-- Health Based Colour Toggle -->
              <span>
                <div class="switch">
                  <label class="toggle-text">
                    <input ng-model="ESP.colours.healthBased" type="checkbox">
                    <span class="lever"></span>Health Based Colour
                  </label>
                </div>
              </span>

              <hr>

              <!-- Change Spotted Alpha Toggle -->
              <span>
                <div class="switch">
                  <label class="toggle-text">
                    <input ng-model="ESP.changeSpottedAlpha.enabled" type="checkbox">
                    <span class="lever"></span>Change Alpha when Spotted ({{ ESP.changeSpottedAlpha.to }}%)
                  </label>
                </div>
              </span>

              <!-- Spotted Alpha -->
              <p class="range-field">
                <input ng-model="ESP.changeSpottedAlpha.to" type="range" min="0" max="100" />
              </p>

              <hr>

              <!-- Colour Chooser Modal -->
              <div id="colourPickerModal" class="modal">
                <div class="modal-content">

                  <!-- ESP.colours contains 'team' / 'enemy' - ESP.colours.editing is set to either 'team' or 'enemy'
                       and is used to access the colours dependent on the buttons clicked, a minimum value of
                       one is used because when converting rgb to hex, the bitshifts require the values to be non-zero -->

                  <div class="row">
                    <div class="col m6">

                      <!-- ESP Red -->
                      <p>Red ({{ ESP.colours[ESP.colours.editing].r }}):</p>
                      <p class="range-field">
                        <input ng-model="ESP.colours[ESP.colours.editing].r" type="range" min="1" max="255" />
                      </p>

                    </div>
                    <div class="col m6">

                      <!-- ESP Green -->
                      <p>Green ({{ ESP.colours[ESP.colours.editing].g }}):</p>
                      <p class="range-field">
                        <input ng-model="ESP.colours[ESP.colours.editing].g" type="range" min="1" max="255" />
                      </p>

                    </div>
                  </div>

                  <div class="row">
                    <div class="col m6">

                      <!-- ESP Blue -->
                      <p>Blue ({{ ESP.colours[ESP.colours.editing].b }}):</p>
                      <p class="range-field">
                        <input ng-model="ESP.colours[ESP.colours.editing].b" type="range" min="1" max="255" />
                      </p>

                    </div>
                    <div class="col m6">

                      <!-- ESP Alpha -->
                      <p>Opacity ({{ ESP.colours[ESP.colours.editing].a }}%):</p>
                      <p class="range-field">
                        <input ng-model="ESP.colours[ESP.colours.editing].a" type="range" min="0" max="100" />
                      </p>

                    </div>
                  </div>

                  <div ng-style="{'background-color': getColourString(ESP.colours.editing)}" class="row esp-colour-sample-block"></div>

                </div>
              </div>

              <!-- ESP Colour Picker Buttons -->
              <div class="esp-colour-option">
                <p class="first-element-hr">Team Colour: <span ng-bind="rgbaToHex('team')"></span> </p> <div ng-style="{'background-color': getColourString('team')}" class="esp-colour-sample-small"></div>
                <a ng-click="ESP.colours.editing = 'team'" class="waves-effect waves-light btn modal-trigger" href="#colourPickerModal">Pick Team Colour</a>
              </div>

              <div class="esp-colour-option">
                <p>Enemy Colour: <span ng-bind="rgbaToHex('enemy')"></span> </p> <div ng-style="{'background-color': getColourString('enemy')}" class="esp-colour-sample-small"></div>
                <a ng-click="ESP.colours.editing = 'enemy'" class="waves-effect waves-light btn modal-trigger" href="#colourPickerModal">Pick Enemy Colour</a>
              </div>

              <div class="esp-colour-option">
                <p>Items Colour: <span ng-bind="rgbaToHex('item')"></span> </p> <div ng-style="{'background-color': getColourString('item')}" class="esp-colour-sample-small"></div>
                <a ng-click="ESP.colours.editing = 'item'" class="waves-effect waves-light btn modal-trigger" href="#colourPickerModal">Pick Items Colour</a>
              </div>

              <hr>

            </div>

          </div>
        </li>

        <!-- Radar -->
        <li ng-controller="hackRadar">
          <!-- Header -->
          <div ng-class="radar.enabled ? 'hack-enabled' : 'hack-disabled'" class="collapsible-header hack-header">
            Permanent Radar

            <!-- Hack Toggle -->
            <span class="hack-switch">
              <div class="switch">
                <label>
                  <input ng-model="radar.enabled" type="checkbox">
                  <span class="lever"></span>
                </label>
              </div>
            </span>

          </div>
        </li>

        <!-- Bunnyhop -->
        <li ng-controller="hackBhop">
          <!-- Header -->
          <div ng-class="bhop.enabled ? 'hack-enabled' : 'hack-disabled'" class="collapsible-header hack-header">
            Bunnyhop

            <!-- Hack Toggle -->
            <span class="hack-switch">
              <div class="switch">
                <label>
                  <input ng-model="bhop.enabled" type="checkbox">
                  <span class="lever"></span>
                </label>
              </div>
            </span>

          </div>
        </li>

        <!-- No Flash -->
        <li ng-controller="hackNoFlash">
          <!-- Header -->
          <div ng-class="noflash.enabled ? 'hack-enabled' : 'hack-disabled'" class="collapsible-header hack-header">
            No Flash

            <!-- Hack Toggle -->
            <span class="hack-switch">
              <div class="switch">
                <label>
                  <input ng-model="noflash.enabled" type="checkbox">
                  <span class="lever"></span>
                </label>
              </div>
            </span>

          </div>

          <!-- Content -->
          <div class="collapsible-body">
            <br>
            <div class="row hack-options">
              <!-- No Flash Opacity -->
              <p>No Flash Opacity ({{ noflash.opacity }}%):</p>
              <p class="range-field">
                <input ng-model="noflash.opacity" type="range" min="0" max="100" />
              </p>
            </div>
          </div>

        </li>

        <!-- No Recoil -->
        <li ng-controller="hackNoRecoil">
          <!-- Header -->
          <div ng-class="norecoil.enabled ? 'hack-enabled' : 'hack-disabled'" class="collapsible-header hack-header">
            No Recoil

            <!-- Hack Toggle -->
            <span class="hack-switch">
              <div class="switch">
                <label>
                  <input ng-model="norecoil.enabled" type="checkbox">
                  <span class="lever"></span>
                </label>
              </div>
            </span>

          </div>

          <!-- Content -->
          <div class="collapsible-body">
            <br>
            <div class="row hack-options">
              <!-- No Recoil Accuracy -->
              <p>No Recoil Accuracy ({{ norecoil.accuracy }}%):</p>
              <p class="range-field">
                <input ng-model="norecoil.accuracy" type="range" min="0" max="100" />
              </p>
            </div>
          </div>

        </li>
      </ul>
    </div>

    <!-- Scripts -->

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

    <script type="text/javascript" src="js/resources/materialize.min.js"></script>
    <script type="text/javascript" src="js/resources/angular.min.js"></script>
    <script type="text/javascript" src="js/resources/ripples.min.js"></script>

    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/hacks/esp.js"></script>
    <script type="text/javascript" src="js/hacks/radar.js"></script>
    <script type="text/javascript" src="js/hacks/bhop.js"></script>
    <script type="text/javascript" src="js/hacks/noflash.js"></script>
    <script type="text/javascript" src="js/hacks/norecoil.js"></script>
  </body>
</html>
